%h1
  #{@credit.name}'s Line of Credit
%p
  %span
    %strong
      APR
    #{@credit.apr * 100}%
%p
  %strong
    Maximum Line of Credit
  $#{sprintf('%.2f', @credit.line_max)}
=link_to 'Return to Credit Dashboard', credits_path
%hr
%p
  %strong
    Transactions
  - if @transactions.exists?
    %table
      %tr
        %th
          Day of the Month
        %th
          Transaction Type
        %th
          Amount
      -@transactions.each do |transaction|
        %tr
          %td
            =transaction.day
          %td
            - if transaction.withdrawal
              Withdrawal
            - else
              Deposit
          %td
            $#{sprintf('%.2f', transaction.amount)}
  - else
    %p
      None Yet
%p
  %button
    =link_to 'add transactions', new_credit_transaction_path(@credit.id)
- if @transactions.exists?
  %p
    %strong
      Grand Total Due At End of Month
    %br
    $#{sprintf('%.2f', @credit.grand_totals)}
